{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Форма для справки</h1>
        <h2>{{ semi_title }}</h2>
        <form method="post">
            {% csrf_token %}

            <label for="id_Surname">Фамилия</label>
            {{ form.Surname }}

            <label for="id_Name">Имя</label>
            {{ form.Name }}

            <label for="id_Patronymic">Отчество</label>
            {{ form.Patronymic }}

            <div class="form-row">
                <div class="form-group">
                    <label for="id_Grade_c">Класс (цифра)</label>
                    {{ form.Grade_c }}
                </div>
                <div class="form-group">
                    <label for="id_Grade_b">Класс (буква)</label>
                    {{ form.Grade_b }}
                </div>
            </div>

            <label for="id_Email">Электронная почта</label>
            {{ form.Email }}

            <input type="submit" value="Отправить">
        </form>
    </div>
</body>
</html>
