{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администратор</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/secretary.css' %}">
</head>
<body>
<h1><p style="text-align: center;">Администрирование системы</p></h1>
<h4 style="text-align: center;">Список всех заявок на справки:</h4>
{% autoescape off %}
{{ body_orders }}
{% endautoescape %}

<div id="confirmModal" class="modal">
  <div class="modal-content">
    <p id="modalText">Вы уверены?</p>
    <button class="ok-btn" id="okBtn">ОК</button>
    <button class="cancel-btn" id="cancelBtn">Отменить</button>
  </div>
</div>

<script>
  let currentActionUrl = null; // сюда сохраняем ссылку для действия

  function confirmAction(actionUrl, message) {
      currentActionUrl = actionUrl;
      document.getElementById("modalText").innerText = message;
      document.getElementById("confirmModal").style.display = "block";
  }

  document.getElementById("okBtn").addEventListener("click", function() {
      if (currentActionUrl) {
          // отправляем запрос на сервер
          fetch(currentActionUrl)
              .then(r => r.text())
              .then(data => {
                  alert("Операция выполнена!");
                  location.reload(); // обновим страницу, чтобы таблица обновилась
              });
      }
      document.getElementById("confirmModal").style.display = "none";
  });

  document.getElementById("cancelBtn").addEventListener("click", function() {
      document.getElementById("confirmModal").style.display = "none";
  });
</script>

</body>
</html>

